<!DOCTYPE html>
<html lang="en">
<head>
	{% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Indicator</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

<!-- Loading container -->
<div class="loading-container" id="loadingContainer">
    <div class="loading-content">
        <div class="loading-spinner"></div>
        <p>Healing...</p>
    </div>
</div>

<section class="section-1">
    <div data-collapse-"medium" data-animation-"default" data-duration="400" data-easing-"ease" data-easing2-"ease" role="banner" class-"navigation w-nav">
        <div class="text-block">HealFinder</div>
        <div class="text-block-2">Your Companion to Nearby Hospitals</div>

    </div>
    
    <div class="popup">
        <a href="../" title="Back To Profile"><img src="{% static 'img/Button_back.png' %}" alt="" class="back" ></a>
        <a href="../" title="Home"><img src="{% static 'img/Home.png' %}" alt="" class="home" ></a>
        
    </div>
</section>
    
</div>
<div class="container-main">
    <div class="container">
        <h2>Book an Appointment</h2>
        <form action="hs_reg" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <label for="Hospital">Hospital Name:</label>
            <input type="text" id="patientName" name="hs_name" required>
            
            <label for="Hospital">Enter password :</label>
            <input type="password" id="hspass" name="hs_password" required>
            
            <label for="Hospital">Enter Contact Number:</label>
            <input type="number" id="hscno" name="hs_con" required>

            <label for="Hospital">Enter the Location/Place:</label>
            <input type="text" id="hloc" name="hs_loc" required>

            <label for="Hospital">Email id:</label>
            <input type="email" id="appointmentDate" name="hs_email" required>

            <label for="Hospital" align="center">Image Of Hospital</label></br>
            <input type="file" name="hs_img">
            <input type="submit" value="Resgister">
        </form>
    </div>
</div>

<section class="section-4">
    <div class="follow"> <h1>Follow Us</h1></div>
    <div class="social-image"><img src="{% static 'img/Social_Icons.png' %}" alt="" ></div>
    <div class="text-block-5">© 2024 HealFinder.com</div>

 </section>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>


{% comment %} required --- is used to make that input box required that cannot make a ove without filling that fild {% endcomment %}
